doctype html
html
  head
    title Test
    meta(charset='utf-8')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    script(src='jspm_packages/system.js')
    script(src='config.js')
    script(type='text/javascript').
      System.import('styles/test.scss!')
        .then(() => {
          document.body.innerHTML += '<h2>Loading done</h2>';
        });
  body
    h1 I should become blue and background should show a SASS logo
    h2 Loading...
    p I SHOULD BE ALL LOWERCASE
