{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "settings": {
    "import/resolver": {
      "jspm": {
        "moduleDirectory": "src/jspm_packages"
      },
      "node": true
    }
  },
  "globals": {
    "describe": false,
    "before": false,
    "beforeEach": false,
    "after": false,
    "afterEach": false,
    "it": false,
    "__moduleName": true
  },
  "rules": {
    "strict": 0
  }
}
