{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "settings": {
    "import/resolver": {
      "jspm": {
        "moduleDirectory": "src/jspm_packages"
      },
      "node": true
    }
  },
  "plugins": [
    "mocha"
  ],
  "globals": {
    "__moduleName": true
  },
  "rules": {
    "strict": 0,
    "import/no-unresolved": 0
  }
}
