{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "plugins": [
    "import"
  ],
  "settings": {
    "import/resolver": {
      "jspm": {
        "moduleDirectory": "jspm_packages",
         "pathsOverride": {
           "public": "src"
        }
      },
      "node": true
    }
  },
  "rules": {
    "strict": 0
  }
}
