@import 'jspm:bootstrap/assets/stylesheets/bootstrap';
@import 'headings';
@import 'typography';

$image: '../images/sass-logo.svg';

body {
  background-image: url($image);
  background-repeat: no-repeat;
  background-color: pink;
}

.flexContainer {
  display: flex;
  flex-direction: row;
}

.fbox {
  border: 1px solid silver;
  border-radius: 4px;
  padding: 4px;
  background: gainsboro;
}
